<h1>Anime Searcher</h1>

<p><%= @user.name %> さんへ<p>

<p>下記のURLをクリックして、パスワードの再設定を行ってください。</p>

<%= link_to "アカウントを有効にする", edit_password_reset_url(@user.reset_token,
                                                    email: @user.email) %>
